.About{
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 20px;
    color: #333;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05)
}
.About h2{
    border-radius: 10px;
    font-size: 2.4rem;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}
.About ul {
    display: flex;
    gap:10px ;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 20px;
}
@media(max-width:768px) {
    .About{
        padding: 40px 15px;
    }
    .About h2{
        font-size: 2rem;
    }
    .About p{
        font-size: 1rem;
    }
}