.Contact{
  direction: rtl;
  font-family: 'Tajawal', sans-serif;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding: 60px 20px;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
  border: 2px dotted #009688;
}
.Contact h2{
  text-align: center;
  font-size: 2.4rem;
  color: #009688;
  margin-bottom: 30px;
}
.Contact-form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;
}
.Contact-form input,
.Contact-form textarea{
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s , box-shadow 0.3s;
}
.Contact-form input:focus,
.Contact-form textarea:focus {
  border-color: #1e88e5;
  box-shadow: 0 0 5px rgba(30, 136, 229, 0.3);
  outline: none;
}
.Contact-form button {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  padding: 12px 25px;
  font-size: 1rem;
  color: #fff;
  background-color: #009688;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.Contact-form button:hover {
  background-color: #1565c0;
  transform: translateY(-2px);
}
.message{
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 0.6s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .Contact {
    padding: 40px 15px;
  }
  .Contact-form button {
  align-self: stretch;
  text-align: center;
  }
}
