.jor-img {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  position: relative;
}
.home-container {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  color: #222;
  background-color: #f9f9f9;
}

.home-section {
  border-radius: 20px;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  z-index: 2;
}
.home-section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.home-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  padding: 0 10px;
  font-weight: bold;
}
.home-buttons .btn {
  display: inline-block;
  margin: 0 15px;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  background-color: #e0e5e7;
  color: #00897b;
  transition: background-color .3s, color .3s;
}
.home-buttons .btn:hover{
  background-color: #00897b;
  color: #fff;
}

/* نبذة */
.about-preview {
  padding: 80px 20px;
  text-align: center;
  background-color: #fff;
}
.about-preview h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #1e88e5;
}
.steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.step {
  background: #f9f9f9;
  padding: 30px 20px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  transition: transform 0.3;
  text-align: center;
}
.step:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, rgba(0,0,0,0.1));  
}
.step h3{
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}
.step a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Tajawal", sans-serif;


}
@media(max-width:768px){
  .steps{
    flex-direction: column;
    align-items: center;
  }
  .step{
    width: 100%;
    max-width: 350px;
  }
}


