body{
  direction: rtl;
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}
.navbar{
  direction: rtl;
  background: linear-gradient(90deg, #009688, #4db6ac);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  color: #fff;
  font-family: "Tajawal", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 100%;
  height: 80px;
}
.navbar-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.navbar-links{
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.navbar-links a{
  margin-left: 15px;
  font-size: 1.05rem ;
  letter-spacing: 0.3px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
}   
.navbar-links a:hover,
.navbar-links a:focus{
  color: #004d40;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 8px ;
  padding: 8px 15px;
  transition: all 0.3s ease;
}
.navbar-links .active{
  border-bottom: 2px solid #ffffff;
  padding-bottom: 4px;
}
.logo-icon{
  width: 40px;
  height: auto;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .navbar-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(0, 137, 123, 0.05);
    padding: 10px 0;
    border-radius: 10px;
    gap: 1rem;
  }
  .navbar-logo{
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .navbar-links a{
    display: block;
    font-size: 1rem; 
    width: 100%;
    padding: 10px 0;
  }
}
