.Suggestions{
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    padding: 40px  20px;
    max-width: 800px;
    margin: 0 auto;
    background: #fffefe;
    color: #333;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}
.Suggestions h2{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: #444;
}
.suggestion-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}
.suggestion-form textarea{
    width: 100%;
    min-height: 200px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.suggestion-form textarea:focus{
    border-color: #1e88e5;
    box-shadow: 0 0 8px rgba(30, 136,229,0.2);
    outline: none;
}   
.suggestion-form button{
    align-self:center;
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #1e88e5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.suggestion-form button:hover{
    background: #5750d6;
}
.current-Suggestions{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    background-color: #eeeefa;
    border-radius: 12px;
    text-align: right;
    box-shadow: inset 0 4px 12px rgba(108,99,255,0.5);
}
.Suggestions-h{
    color: #333;
    font-size: 1.4rem;
    margin-bottom: 15px;
    text-align: center;
}
.Suggestion-card{
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    border-right: 4px solid #5450a4;
    color: #555;
    transition: transform 0.2s, box-shadw 0.2s;

}
.Suggestion-card:hover{
    transform: translate(-4px);
    box-shadow: 0 5px 15px rgba(108, 99, 255, 0.02);
}
.like-button{
    background-color: #253fe8;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: transform 0.2s;
}
.like-button:hover {
  background-color: #d16ccc;
  transform: scale(1.3);
}

@media(max-width:768px){
    .Suggestions{
        padding: 30px 15px;

    }
    .suggestion-form button{
        align-self: stretch;
        text-align: center;
    }
}










