.UserType{
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

}
.UserType h2{
    text-align: center;
    font-size: 2.4rem;
    color: #1e88e5;
    margin-bottom: 30px;
}

.UserType form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.UserType form div{
    display: flex;
    flex-direction: column;
}
.UserType label{
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
}
.UserType input[type='text'],
.UserType input[type='email'],
.UserType select{
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
}
.UserType button{
    padding: 14px;
    font-size: 1.1rem;
    color: #232020;
}
@media (max-width: 768px) {
  .UserType {
    padding: 30px 15px;
  }
  .UserType h2 {
    font-size: 2rem;
  }
  .user-type-form button {
    font-size: 1rem;
  }
}
